<div class="ui two column doubling grid container">
  
  <div class="column">
    {{ vtdirect }}
  </div>

  <div class="column">   
    <div class="ui one column stackable center aligned page grid">
      <div class="ui styled accordion">

        <div class="title">
          <div class="ui master checked checkbox">
            <input type="checkbox" checked="">
            <label>VT-DIRECT</label>
          </div>
          <i class="dropdown icon"></i>
        </div>
        <div class="content">
          <div ng-repeat="vd in vtdirect">
            <div class="title">
              <div class="ui child checkbox">
                <input name="" type="checkbox">
                <label>{{vd.name}}</label>
              </div>
              <i class="dropdown icon"></i>
            </div>
            <div class="content">
              <div ng-repeat="feature in vd.feature">
                <div class="ui checked checkbox">
                  <input type="checkbox" checked="">
                  <label>{{ feature }}</label>
                </div>
              </div>
            </div>
          </div>  
        </div>
        
        <div class="title">
          <div class="ui checked checkbox">
            <input type="checkbox" checked="">
            <label>VT-WEB</label>
          </div>
          <i class="dropdown icon"></i>
        </div>
        <div class="content">
          <div ng-repeat="vw in vtweb">
            <div class="title">
              <div class="ui checked checkbox">
                <input type="checkbox" checked="">
                <label>{{ vw.name }}</label>
              </div>
              <i class="dropdown icon"></i>
            </div>
            <div class="content">
              <div ng-repeat="feature in vw.feature">
                <div class="ui checked checkbox">
                  <input type="checkbox" checked="">
                  <label>{{ feature }}</label>
                </div>
              </div>
            </div>
          </div>  
        </div>

        <div class="title">
          <div class="ui checked checkbox">
            <input type="checkbox" checked="">
            <label>VT-LINK</label>
          </div>
          <i class="dropdown icon"></i>
        </div>
        <div class="content">
          <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
          <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui horizontal divider header">
  <i class="options icon"></i>
  Select Environment
</div>

<div class="ui two column doubling grid container">
  <div class="column">
    <div class="ui form 1">
      <div class="grouped fields">
        <label>Endpoint</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input name="example2" checked="checked" type="radio">
            <label>Staging</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input name="example2" type="radio">
            <label>Sandbox</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input name="example2" type="radio">
            <label>Production</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui checkbox">
      <div class="list">
        <div class="item">
          <div class="ui child checkbox">
            <input name="apple" type="checkbox">
            <label>Apple</label>
          </div>
        </div>
        <div class="item">
          <div class="ui child checkbox">
            <input name="notification" type="checkbox">
            <label>Notification</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui horizontal divider header">
  <i class="send icon"></i>
  Start ODIN API
</div>

<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <input type="button" class="huge ui blue centered button" ng-click="getResponse()" value="Console">
  </div>
</div>

<div class="ui horizontal divider header">Result</div>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Logs</h2>
  {{ result }}
  <p></p>
  <p></p>
</div>

<script type="text/javascript">
  $('.ui.accordion').accordion();   
  $('.list .master.checkbox')
  .checkbox({
    // check all children
    onChecked: function() {
      var
      $childCheckbox  = $(this).closest('.checkbox').siblings('.list').find('.checkbox')
      ;
      $childCheckbox.checkbox('check');
    },
    // uncheck all children
    onUnchecked: function() {
      var
      $childCheckbox  = $(this).closest('.checkbox').siblings('.list').find('.checkbox')
      ;
      $childCheckbox.checkbox('uncheck');
    }
  });
  $('.list .child.checkbox')
  .checkbox({
    // Fire on load to set parent value
    fireOnInit : true,
    // Change parent state on each child checkbox change
    onChange   : function() {
      var
      $listGroup      = $(this).closest('.list'),
      $parentCheckbox = $listGroup.closest('.item').children('.checkbox'),
      $checkbox       = $listGroup.find('.checkbox'),
      allChecked      = true,
      allUnchecked    = true
      ;
      // check to see if all other siblings are checked or unchecked
      $checkbox.each(function() {
        if( $(this).checkbox('is checked') ) {
          allUnchecked = false;
        }
        else {
          allChecked = false;
        }
      });
      // set parent checkbox state, but dont trigger its onChange callback
      if(allChecked) {
        $parentCheckbox.checkbox('set checked');
      }
      else if(allUnchecked) {
        $parentCheckbox.checkbox('set unchecked');
      }
      else {
        $parentCheckbox.checkbox('set indeterminate');
      }
    }
  }); 
</script>